@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

:root {
  font-family: "Onest", sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  place-content: center;
  color: #000;
  background: #eee;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  text-align: center;
  margin-bottom: 2.6em;
}

.translation_panels__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32em;
  margin-bottom: 3.5em;
}

.translation_origin__panel, .translation_destination__panel {
  display: flex;
  flex-direction: column;
  gap: 2.6em;

  & textarea {
    padding: 0.8em 1.2em;
  }
}

.translate_button {
  display: block;
  color: #fff;  
  background-color: #00AEFF;
  font-weight: bold;
  font-size: 1em;
  border: none;
  padding: 0.8em;
  border-radius: 0.4em;
  margin: 0 auto;

  &:hover {
    background-color: #0292D6;
    cursor: pointer;
  }
}
