* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(64, 39, 0, 1) 100%);
    font-family: 'Onest', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6em;
    width: 50rem;
    margin: auto;
    background-color: #242424;
    border-radius: 0.8em;
    padding: 1.4em;

    &.hide {
        opacity: 0.3;
    }
}

#image img {
    height: 420px;
}

#content {
    background: #fff;

    & h1 {
        width: 75%;
        margin: 30px auto;
    }

    & p {
        width: 75%;
        margin: 30px auto;
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 30px;
}

#author {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 80px;
}

#profile-picture {
    & img {
        width: 70px;
        border-radius: 50px;
    }
}

#article-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

#share-button {
    background: hsl(210, 46%, 95%);
    padding: 8px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;

    &:hover {
        scale: 125%;
        transition: scale .3s ease;
    }
}

#modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;

    &.active {
        display: block;
    }
}

#share-modal {
    display: none;
    position: fixed;
    top: 40%;
    left: 40%;
    color: #fff;
    background: #222;
    padding: 30px;
    border-radius: 16px;
    z-index: 100;
    width: 25%;

    &.active {
        display: block;
    }

    & h2 {
        text-align: center;
        font-size: 30px;
    }

    & #share-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        margin-top: 30px;
    }

}